<form class="{{cssClass}} container-fluid" autocomplete="off" style="text-align: center;">
  <div class="d-flex align-items-end flex-column h-80">

    <div class="w-100 justify-content-center mb-2"><br>Quick Pokemon Generation<h1>{{species}}</h1>
    </div>

    <div class="w-100 justify-content-center mb-2">
      <label for="level">Level Range</label>
    </div>
    <div class="w-100 justify-content-center mb-2">
      <input style="width: 20%;" id="levelMinField" type="number" min="0" name="levelMin" value="{{levelMin}}" />
      -
      <input style="width: 20%;" id="levelMaxField" type="number" min="0" name="levelMax" value="{{levelMax}}" />
    </div>

    <div class="w-100 justify-content-center mb-2">
      <label for="genderRatio">Gender (% male)</label>
    </div>
    <div class="w-100 justify-content-center mb-2">
      <input id="genderRatioField" name="genderRatio" style="width: 60%;" type="number" min="0" max="100"
        value="{{genderRatioMale}}" />
    </div>

    <div class="w-100 justify-content-center mb-2">
      <label for="shinyChance">Shiny Chance (%)</label>
    </div>
    <div class="w-100 justify-content-center mb-2">
      <input style="width: 60%;" id="shinyChanceField" type="number" min="0" max="100" name="shinyChance"
        value="{{shinyChance}}" />
    </div>

    <div class="w-100 justify-content-center mb-2">
      <label for="statRandomness">Stat Randomness (%)</label>
    </div>
    <div class="w-100 justify-content-center mb-2">
      <input style="width: 60%;" id="statRandomnessField" min="0" max="100" type="number" name="statRandomness"
        value="{{statRandomness}}" />
    </div>

    <div class="w-100 justify-content-center mb-2">
      <div>Prevent Evolution?</div>
      <input type="checkbox" style="width: 20px; height: 20px;" id="prevent_evolution" name="preventEvolution" {{checked
        preventEvolution}} />
    </div>

  </div>

  <div class="w-100 justify-content-center mb-2">
    <br>
    <input type="submit" value="Generate" autofocus />
  </div>

</form>